body {
    margin: 100px;
  }
  
  .contenu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
    background-color: #fff;
    color: rgb(228, 220, 220);
  }
  
  .box {
    background-color: rgb(45, 196, 15);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }