<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEtaService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2395/EtaService.svc/EtaService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEtaService"
        contract="EtaServiceReference.IEtaService" name="BasicHttpBinding_IEtaService" />
    </client>
  </system.serviceModel>
</configuration>


